/* BW 
Color Palette: #F0F5F9 #C9D6DF #52616B #1E2022 - Color Hunt */
/* Blue-Orange 
Color Palette: #112B3C #205375 #F66B0E #EFEFEF - Color Hunt */
/* Purple-Orange
Color Palette: #251D3A #2A2550 #E04D01 #FF7700 - Color Hunt */
/* Coffee
#D7B19D #C68B59 #865439 #402218*/
:root {
    font-size: 16px;
    --bg-color: #D7B19D;
    --text-color: #402218;
}

* {
    color: var(--text-color);
    text-decoration: none;
}
body {
    
    background-color: var(--bg-color);
    font-family: Monospace, sans-serif;
}
article, section, aside, footer {
    
}
ul {
    list-style: none;
    padding: 0;
}

header img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
}

.card {
    padding: 10px;
    box-shadow: 0px 5px 10px 5px rgb(142,148,151);
}

.round-border {
    border-radius: 50%;
}

.profil-siswa img {
    max-width: 100px;
}

.sub-list {
    padding: 0 0 0 1em;
}

.social-media img {
    width: 30px;
}
.flex-container {
    display: flex;
    flex-grow: 1;
}
@media screen and (max-width: 600px) {
    .sumber-artikel {
        font-size: 14px;
    }
    .profil-siswa {
        width: fit-content;
        margin: 0 auto 0;
        text-align: center;
    }
}
@media screen and (min-width: 600px) {
    body {
        font-size: 1.5rem;
    }
    .profil-siswa {
        width: fit-content;
        margin: 0 auto 0;
        text-align: center;
    }
}