:root {
  --main-bg-color: rgb(18, 18, 18);
  --main-text-color: rgb(240, 240, 240);
  font-size: 12pt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 1vh 5vw 0;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

h2, h3, h4, p {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}

h2, h3, h4 {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
 }

p {
  text-indent: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

aside {
  margin-top: 1.2rem;
}

ul li, ol li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

ul li {margin-inline-start: 1.45rem;}
ol li {margin-inline-start: 2.45rem;}
dl {margin-inline-start: 0.59rem;}

dt {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}

dd {
  text-indent: 2rem;
  line-height: 1.3rem;
}

footer {
  margin-top: 0.3rem;
  margin-inline-start: 2.5rem;
}
.foreign-word {
  font-style: italic;
}

.card {
  padding: 20px;
}

.blog__title h1:first-child {
  text-align: center;
}

img {
  margin: 10px auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.crop {
  height: 30vw;
  width: 60vw;
  object-fit: cover;
}

.unej {
  width: 256px;
}

hr {
  color: var(--main-text-color);
  width: 100%;
}