:root {
  --main-bg-color: rgb(18, 18, 18);
  --main-text-color: rgb(240, 240, 240);
  font-size: 12pt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Courier New', Courier, monospace;
}

h2, h3 {
  margin-top: 18px;
  margin-bottom: 6px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}
ul {
  margin-inline-start: 20px;
  list-style: disc;
}
.foreign-word {
  font-style: italic;
}

.card {
  padding: 20px;
}

.blog__title {
  text-align: center;
}